# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
.env/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Data
data/raw

# Generated reports / figures
reports/figures/

# Actions runner
actions-runner